// Font declarations
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');

// Font family
// --------------------------------------------------
@title-family: 'Source Sans Pro', sans-serif;
@body-family: 'Source Sans Pro', sans-serif;
@btn-family: 'Source Sans Pro', sans-serif;

// Font weights
// --------------------------------------------------
@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-bold: 700;

// 100	Thin (Hairline)
// 200	Extra Light (Ultra Light)
// 300	Light
// 400	Normal
// 500	Medium
// 600	Semi Bold (Demi Bold)
// 700	Bold
// 800	Extra Bold (Ultra Bold)
// 900	Black (Heavy)

// Line heights
// --------------------------------------------------
@title-line-height: 1.2;
@body-line-height: 1.5;
@btn-line-height: 1.5;

// Globals
// --------------------------------------------------
@body-size: 16px;
@body-weight: @font-weight-regular;

@instruction-size: 16px;
@instruction-family: @body-family;
@instruction-weight: @font-weight-bold;
@instruction-line-height: @body-line-height;

@btn-size: 16px;
@btn-weight: @font-weight-bold;

@icon-size: 1.5rem;
@icon-weight: @font-weight-regular;
@icon-line-height: 1;

@link-size: 0.9rem;
@link-family: @body-family;
@link-weight: @font-weight-regular;
@link-line-height: @body-line-height;

// Menu header
// --------------------------------------------------
@menu-title-size: 2rem;
@menu-title-family: @title-family;
@menu-title-weight: @font-weight-regular;
@menu-title-line-height: @title-line-height;
@menu-title-mobile-percentage: .75;

@menu-subtitle-size: 0.9rem;
@menu-subtitle-family: @title-family;
@menu-subtitle-weight: @font-weight-light;
@menu-subtitle-line-height: @title-line-height;
@menu-subtitle-mobile-percentage: .75;

@menu-body-size: 0.9rem;
@menu-body-family: @body-family;
@menu-body-weight: @font-weight-regular;
@menu-body-line-height: @body-line-height;

@menu-instruction-size: 0.9rem;
@menu-instruction-family: @body-family;
@menu-instruction-weight: @font-weight-bold;
@menu-instruction-line-height: @body-line-height;

// Menu item
// --------------------------------------------------
@menu-item-title-size: 0.9rem;
@menu-item-title-family: @title-family;
@menu-item-title-weight: @font-weight-bold;
@menu-item-title-line-height: @title-line-height;

@menu-item-body-size: @body-size;
@menu-item-body-family: @body-family;
@menu-item-body-weight: @body-weight;
@menu-item-body-line-height: @body-line-height;

// Page header
// --------------------------------------------------
@page-title-size: 2rem;
@page-title-family: @title-family;
@page-title-weight: @font-weight-regular;
@page-title-line-height: @title-line-height;
@page-title-mobile-percentage: .75;

@page-subtitle-size: 0.9rem;
@page-subtitle-family: @title-family;
@page-subtitle-weight: @font-weight-light;
@page-subtitle-line-height: @title-line-height;
@page-subtitle-mobile-percentage: .75;

@page-body-size: 0.9rem;
@page-body-family: @body-family;
@page-body-weight: @font-weight-regular;
@page-body-line-height: @body-line-height;

@page-instruction-size: 0.9rem;
@page-instruction-family: @body-family;
@page-instruction-weight: @font-weight-bold;
@page-instruction-line-height: @body-line-height;

// Page
// --------------------------------------------------
@article-title-size: 1.5rem;
@article-title-family: @title-family;
@article-title-weight: @font-weight-regular;
@article-title-line-height: @title-line-height;
@article-title-mobile-percentage: .75;

@block-title-size: 1.5rem;
@block-title-family: @title-family;
@block-title-weight: @font-weight-regular;
@block-title-line-height: @title-line-height;
@block-title-mobile-percentage: .75;

@component-title-size: 1.5rem;
@component-title-family: @title-family;
@component-title-weight: 600;
@component-title-line-height: @title-line-height;
@component-title-mobile-percentage: .75;

@notify-title-size: 1.5rem;
@notify-title-family: @title-family;
@notify-title-weight: @font-weight-bold;
@notify-title-line-height: @title-line-height;
@notify-title-mobile-percentage: .75;

@item-title-size: 0.9rem;
@item-title-family: @title-family;
@item-title-weight: @font-weight-bold;
@item-title-line-height: @title-line-height;

// Pull quote
// --------------------------------------------------
@pull-quote-title-size: 0.9rem;
@pull-quote-title-family: @title-family;
@pull-quote-title-weight: @font-weight-regular;
@pull-quote-title-line-height: @title-line-height;

@pull-quote-body-size: 0.9rem;
@pull-quote-body-family: @body-family;
@pull-quote-body-weight: @font-weight-bold;
@pull-quote-body-line-height: @body-line-height;

// Drawer
// --------------------------------------------------
@drawer-item-title-size: 0.9rem;
@drawer-item-title-family: @title-family;
@drawer-item-title-weight: @font-weight-bold;
@drawer-item-title-line-height: @title-line-height;

@drawer-item-body-size: 16px;
@drawer-item-body-family: @body-family;
@drawer-item-body-weight: @font-weight-regular;
@drawer-item-body-line-height: @body-line-height;

@resources-filter-btn-size: 16px;
@resources-filter-btn-family: @btn-family;
@resources-filter-btn-weight: @font-weight-regular;
@resources-filter-btn-line-height: @body-line-height;
