//.component .component-title {
//  border-radius: 10px 10px 0px 0px !important;
//}

.component .component-body {
  border-radius: 0px 0px 10px 10px !important;
}

//.trickle-button-component.trickle-tab-button .trickle-button-inner button {
//  margin-bottom: 10px !important;
//}

//.block .block-title {
//  border-radius: 10px 10px 0px 0px !important;
//}

.list-component .list-container {
  border-radius: 0px 0px 10px 10px !important;
}

.block .block-body {
  border-radius: 0px 0px 10px 10px !important;
}

.list-component .list-container.background-enabled {
  background-color: #a1d0ef !important;
}

.button, button {
  font-weight:600 !important;
}

.mcq-component .mcq-item label {
  font-weight:600 !important;
}

.pagelevelprogress-navigation.base .pagelevelprogress-indicator-bar {
  background-color: #3d3436 !important;
}

.pagelevelprogress-navigation.base .pagelevelprogress-indicator {
  background-color: #c8b3e5 !important;
}

.drawer .pagelevelprogress-item-title .pagelevelprogress-indicator-bar {
  background-color: #c8b3e5 !important;
}

.drawer .pagelevelprogress-item-title .pagelevelprogress-indicator {
  background-color: #ffffff !important;
}

.notify .notify-popup-body {
  text-align: center !important;
}

.notify .notify-popup {
  background-color: rgba(0,0,0,0) !important;
}

.notify .notify-shadow {
  background-color: rgba(200,179,229,0.98) !important;
}

.help-popup .help-popup-item-inner {
  color: #3d3436 !important;
}

.audio-drawer .drawer-item-open {
  color: #3d3436 !important;
}

.glossary .glossary-inner {
  background-color: #fff !important;
}

.drawer .drawer-item .drawer-item-open {
  border-radius: 10px !important;
  margin-top: 5px !important;
}

.drawer .drawer-item .drawer-item-description-inner {
  color: #3d3436 !important;
}

.drawer .drawer-item .drawer-item-title {
  color: #3d3436 !important;
}

.component-body {
  background-color: #c8b3e5 !important;
}

.block-body {
  background-color: #c8b3e5 !important;
}

//.notify .notify-popup-button {
//  border: 2px solid #fff !important;
//}

//.trickle-button-component.trickle-full-width .trickle-button-inner.locking button {
//  border: 2px solid #fff !important;
//}

.buttons button.buttons-action {
  border: 2px solid #fff !important;
}

.reveal-button {
  border: 2px solid #fff !important;
}

.audio-controls {
    .audio-toggle {
      background-color: #c8b3e5 !important;

      &:hover {
          background-color: #f7914c !important;
    }
  }
}

.audio-drawer .drawer-item-open {
  &:hover {
    background-color: #ffffff !important;
  }
}

.help-popup .help-page-level-progress {
  background-color: #c8b3e5 !important;
}

.help-popup .help-page-level-progress-bar {
  background-color: #3d3436 !important;
}

.help-popup .trickle {
  border-radius: 10px !important;
}

/////////////v5 CHANGES/////////////
.notify__popup {
  font-size: 16px !important;
}

.btn-text {
  font-size:16px !important;
  border: 2px solid #ffffff !important;
  margin-bottom: 10px !important;
}

.trickle.is-full-width .trickle__btn {
  border-radius: 10px !important;
  font-size: 16px !important;
}

.notify__popup {
  background-color: transparent !important;
  text-align: center !important;
}

.component__title {
  font-weight: 600 !important;
  border-radius: 10px 10px 0px 0px !important;
  margin-top: 5px !important;
}

.component__body {
  background-color: #c8b3e5 !important;
  border-radius: 0px 0px 10px 10px !important;
}

.narrativeaudio__widget {
  border-radius: 0px 0px 10px 10px !important;
}

.narrativeaudio__controls {
  border-radius: 10px !important;
}

.tiles__item-body {
  font-size: 16px !important;
}

.tiles__item-title {
  font-size: 16px !important;
}

.narrativeaudio__content-title {
  font-size: 16px !important;
  margin-top: 10px !important;
}

.list__item-title {
  font-size: 16px !important;
}

.list__container.background-enabled {
  border-radius: 0px 0px 10px 10px !important;
  background-color: #a1d0ef !important;
}

.block__title {
  border-radius: 10px 10px 0px 0px !important;
}

.block__body {
  background-color: #c8b3e5 !important;
  border-radius: 0px 0px 10px 10px !important;
}

.add-component-bg .btn__container {
  border-radius: 0px 0px 10px 10px !important;
}

.audio .btn-icon {
  background-color: #c8b3e5 !important;

  &:hover {
      background-color: #f7914c !important;
}
}

.blockreveal__btn {
  border-radius: 10px !important;
}

.perceptionquestion__item {
  background-color: #ffffff !important;
}

.perceptionquestion__indicators {
  background-color: #ffffff !important;
  border-radius: 0px 0px 10px 10px !important;
}

.audio-drawer__item-open {
  margin: 5px !important;
  color: #3d3436 !important;
  font-size: 16px !important;
  border-radius: 10px !important;
}

.audio-drawer__toggle {
  color: #3d3436 !important;

  &:hover {
      color: #ffffff !important;
}
}

.drawer__toolbar, .drawer__item-btn {
  border-radius: 10px !important;
}

.glossary__item-description {
    background-color: #fff !important;
    color: #000 !important;
}

.drawer__item-title {
  font-size: 16px !important;
}

.resources__filter-btn {
  border-radius: 10px !important;
}

.pagelevelprogress__nav-btn .pagelevelprogress__indicator-inner {
    background-color: #c8b3e5 !important;
}

.pagelevelprogress__indicator {
    border: 2px solid #ffffff !important;
}

.pagelevelprogress__nav-btn .pagelevelprogress__indicator-bar {
  background-color: #3d3436 !important;
}

.pagelevelprogress__indicator-inner {
  background-color: #ffffff !important;
}

.pagelevelprogress__item-btn .pagelevelprogress__indicator-bar {
  background-color: #c8b3e5 !important;
}

.shadow {
  background-color: rgba(200, 179, 229,0.98) !important;
}
